<h1>Rakugle</h1>
<p>Welcome!</p>

<!-- 市場ModuleとBooksMuduleの使用例 -->

<h2>市場</h2>
<ul>
<% @ichiba_items.first(10).each do |item| %>
  <li><%= "#{item['itemName']}, #{item['itemPrice']} yen" %></li>
<% end %>
</ul>

<h2>Books</h2>
<ul>
<% @books_items.first(10).each do |item| %>
  <li><%= "#{item['title']}, #{item['itemPrice']} yen" %></li>
<% end %>
</ul>
