<h2>Rakugle</h2>
<p>Welcome!</p>

<!-- 市場ModuleとBooksMuduleの使用例 -->

<% require 'ichiba_module' %>
<% require 'books_module' %>

<% Ichiba::initialize(ENV["APPID"], ENV["AFID"]) %>
<% ichiba_items = Ichiba::search_keyword("鎧") %>

<% Books::initialize(ENV["APPID"], ENV["AFID"]) %>
<% books_items = Books::search_keyword("鎧") %>

<p>
<% ichiba_items.first(10).each do |item| %>
  <%= "#{item['itemName']}, #{item['itemPrice']} yen" %>
  <br>
<% end %>

<br>

<% books_items.first(10).each do |item| %>
  <%= "#{item['title']}, #{item['itemPrice']} yen" %>
  <br>
<% end %>
</p>
